<div class="container">

  <div class="game-container">

    <div class="guess-container">
      <input 
        type="number" 
        pattern="[0-9]" 
        (focus)="clearInput('guessNum1')" 
        [(ngModel)]="guessNum1" 
        placeholder="0" />
      <input 
        type="number" 
        pattern="[0-9]" 
        (focus)="clearInput('guessNum2')" 
        [(ngModel)]="guessNum2" 
        placeholder="0"/>
      <input 
        type="number" 
        pattern="[0-9]" 
        (focus)="clearInput('guessNum3')" 
        [(ngModel)]="guessNum3" 
        placeholder="0"/>
      <input 
        type="number" 
        pattern="[0-9]" 
        (focus)="clearInput('guessNum4')" 
        [(ngModel)]="guessNum4" 
        placeholder="0"/>
    </div>
  
    <div class="make-guess-container">
      <button type="button" (click)="guess()">Guess</button>
    </div>

    <div class="total-guess">
      <p>Guess: {{numberOfGuesses}}</p>
    </div>
  
    <div class="previous-guess-container">
        <div class="guess" *ngFor="let pguess of previousGuesses ">
          <p>{{pguess[0]}}</p>
          <p>{{pguess[1]}}</p>
        </div>
    </div>

  </div>
</div>
